.explore{
	display: grid;
	grid-template-columns: 
		"sidebar videos videos videos"
}

.explore .sidebar{
	grid-area: sidebar;
}

.explore_videos{
	grid-area: videos;
}



.category_card{
	padding: 1rem;
	width: 300px;
	height: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category_card img{
	height: 150px;
	width: 270px;
}